.bg-mountain-dark {
  background-color: #1a1c2e !important;
  min-height: 470px;
  border: 2px solid #3b5998;
}

.game-render-area {
  width: 100%;
  max-width: 1000px;
  height: auto;
  background: #3b5998;
  border-radius: 8px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
  cursor: pointer;
  
  /* Mantiene los bordes de los pixeles perfectamente definidos (Estilo Retro) */
  image-rendering: -moz-crisp-edges;
  image-rendering: -webkit-crisp-edges;
  image-rendering: pixelated;
  image-rendering: crisp-edges;
}

.distance-badge {
  background: rgba(76, 175, 80, 0.15);
  border: 1px solid rgba(76, 175, 80, 0.4);
  color: #81c784;
}

.text-accent-color {
  color: #ff5722;
  text-shadow: 1px 1px 2px rgba(0,0,0,0.6);
}

.max-w-text { max-width: 500px; }