<div class="chat-container">
  
  <div class="chat-panel-header">
    <div class="d-flex align-items-center gap-2">
      <span class="chat-live-dot"></span>
      <span class="fw-bold text-light">Chat Global</span>
    </div>
  </div>

  <div class="chat-panel-messages" #mensajesContainer>
    
    @for (msg of chatService.mensajes(); track msg.id) {
      
      <div class="chat-msg-row" [class.chat-msg-mio]="esMio(msg.user_id)">
        
        <div class="chat-bubble" [class.chat-bubble-mio]="esMio(msg.user_id)">
          
          @if (!esMio(msg.user_id)) {
            <span class="chat-sender" [style.color]="getColorUsuario(msg.nombre_usuario)">
              {{ msg.nombre_usuario }}
            </span>
          }
          
          <p class="chat-text">{{ msg.contenido }}</p>
          
          <span class="chat-time">{{ msg.created_at | date:'HH:mm' }}</span>
        </div>

      </div>

    } @empty {
      <div class="chat-empty">
        <i class="bi bi-chat-dots fs-2"></i>
        <p class="mt-2 small">¡Rompé el hielo!</p>
      </div>
    }
  </div>

  <div class="chat-panel-input">
    
   <input type="text"
           class="chat-input-field"
           [(ngModel)]="nuevoMensaje"
           (keydown.enter)="$event.preventDefault(); enviar()" 
           placeholder="Escribí un mensaje..."
           autocomplete="off">
    
    <button class="chat-send-btn" (click)="enviar()" [disabled]="!nuevoMensaje.trim()">
      <i class="bi bi-send-fill"></i>
    </button>
  </div>
  
</div>